<h4> What's your name </h4>

<form action = '/new_player' method = 'post'>
   Name: <input type= 'text' name= 'player_name'>
  <br/>
  You have $500.  Select bet amount:<input type= 'text' name= 'initial_bet_amount' value="10" style="width:40px"> 
  <br/>
  <input type= 'submit' class= 'btn btn-medium'>
</form>